<app-add-todo-form (addTodo)="addTodo($event)"></app-add-todo-form>

<app-alert *ngIf="errorMessage" [errorMessage]="errorMessage" (clearMessage)="clearErrorMessage()"></app-alert>

<div class="mt-5">
    <h4>Zadania:</h4>
    <ul *ngIf="todos.length>0; else noTasks" class="list-group todos-list">
        <ng-container *ngFor="let todo of todos; index as i">
            <app-todo [todo]="todo" [i] = "i"></app-todo>
        </ng-container>
    </ul>
    <ng-template #noTasks>Aktualnie brak zadań</ng-template>
</div>